<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Faça Login ou Crie sua Conta</h1>
            <p class="text-center lead">Faça o seu login ou crie a sua conta!</p>
            <%- include('includes/messages') %>
            <!-- #### CADASTRO #####-->
            <div class="row">
                <div class="col-lg">
                    <h4>Faça Seu Cadastro</h4>
                    <p>Não tem Conta? crie agora e faça login!</p>
                    <form action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
                        <div class="form-group">
                          <label for="Email">Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>

                        <div class="form-group">
                            <label for="Senha">Senha: </label>
                            <input type="password" class="form-control"  name="password">
                        </div><br>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                      </form>
                </div>


                <!-- ##### LOGIN #####-->
                <div class="col-lg">
                    <h4>Login no Sistema</h4>
                    <p>Efetue seu login Caso tenha uma conta!</p>
                    

                    <form action="/login/login" method="POST">
                        <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
                        <div class="form-group">
                          <label for="Email">Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>

                        <div class="form-group">
                            <label for="Senha">Senha: </label>
                            <input type="password" class="form-control"  name="password">
                        </div><br>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                      </form>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2"></div>
    </div>

</div>

<%- include('./includes/footer'); %>