<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<div class="container">
    <div style="text-align: center;">
        <h2>SEJA BEM VINDO AO NOSSO SISTEMA</h2>
        <span><p>O tempo esta otimo hoje não é <%= user.email %>?</p></span>        
    </div>
    <%- include('includes/messages') %>
</div>

<%- include('./includes/footer'); %>